.warna-bg{
	background: linear-gradient(to right, rgba(91,134,229, .92), rgba(54,209,220, .92));
}

.jumbotron-bg{
	background-size: cover;
	background: url(../img/bg-book.jpg);
	background-size: 300px;
}

input[type=search]{
    background-color: white;
    background-image: url('../image/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 40px;
    text-align: center;
}

.form-tengah{
    padding-inline: 430px;
}

.foter{
    text-align: center;
}